:root{
    --color-primary:#4CAF4F;
    --color-Dgrey:#4D4D4D;
    --color-silver:#f5f7fa;
    --color-grey:#717171;
    --color-white:#ffff;
}
.color-primary{
    color: var(--color-primary);

}
.background-primary{
    background-color: var(--color-primary);
}
.background-silver{
    background-color: var(--color-silver);
}
.color-grey{
    color: var(--color-grey);
}
.background-white{
    background-color: #f5f7fa;
}